<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <a routerLink="/recipes">
          <img src="images/logo-recettes.png" alt="Logo Recettes">
        </a>
      </div>
      <ul class="navbar-links">
        <li class="nav-item"><a href="#">Recettes</a></li>
        <li class="nav-item"><a href="#">Ajouter une recette</a></li>
        <li class="nav-item"><a href="#">Mes favoris</a></li>
        <li class="nav-item"><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>