.navbar {
    background-color: #5CDC87;
    padding: 1rem;
  }
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* Logo */
  .navbar-logo img {
    height: 40px; /* Ajustez la hauteur du logo si besoin */
  }
  /* Liens de navigation */
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .navbar-links .nav-item {
    margin-left: 2rem;
  }
  .navbar-links .nav-item a {
    text-decoration: none;
    color: #FFFFFF; /* Couleur de la police adaptée au fond vert */
    font-weight: bold;
    transition: color 0.3s ease;
  }
  .navbar-links .nav-item a:hover {
    color: #E0E0E0; /* Couleur au survol */
  }