<div class="auth-container">
    <div class="auth-img">
        <p>bite</p>
    </div>
    <div class="auth-form">
        <form>
            <h2>Inscription</h2>
            <div class="name-field">
                <div class="form-field">
                    <label for="name">Nom :</label>
                    <input name="name" formControlName="name" placeholder="Ex : Paul">
                </div>
                <div class="form-field">
                    <label for="firstname">Prénom :</label>
                    <input name="firstname" formControlName="firstname" placeholder="Dupont">
                </div>
            </div>
            <div class="form-field">
                <label for="mail">Adresse mail : </label>
                <input name="mail" formControlName="mail" placeholder="Ex : paul@gmail.com">
            </div>
            <div class="form-field">
                <label for="password">Mot de passe :</label>
                <input name="password" formControlName="password" placeholder="**********">
            </div>
            <div class="form-buttons">
                <button class="button button-primary">S'inscrire</button>
            </div>
        </form>
    </div>
</div>


