.auth-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    padding: 20px;
}

.name-field{
    display: flex;
}

.form-field{
    display: flex;
    flex-direction: column;
}