.auth-container{
    background-color: #242529;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
}

.img-auth{
    width: 400px;
    margin-right: 30px;
}

.img-auth img{
    border-radius: 20px;
}

.title-auth{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.name-field{
    display: flex;
}

.form-field{
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

.form-field > label{
    margin-bottom: 10px;
}

.btn-auth{
    margin-top: 20px;
}

.already-text-auth{
    margin-top: 15px;
    font-size: 14px;
}

.already-text-auth a{
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.already-text-auth a:hover{
    text-decoration: underline;
}

